@model UnibelDestekSistemi.Models.ViewModels.DashboardModels
@{
    Layout = "_LayoutUser";
}


<form action="/CustomerChangePassword"  method="POST" class="row p-5">

    <div id="profiles" class="form-group col-sm-6">
        <h1>Parola Değiştir</h1><br />
        <h2 for="inputpassword3" class="control-label">Mevcut Şifre</h2>
        <input name="password" type="password" class="form-control form-control-lg" placeholder="Mevcut şifre" required>
        <h2 for="inputPassword3" class=" control-label">Yeni Şifre</h2>
        <input name="newPassword" type="password" class="form-control form-control-lg" id="inputPassword3" placeholder="Yeni Şifre" required>
        <h2 for="inputPassword3" class=" control-label">Yeni Şifre Tekrarı</h2>
        <input name="confirmNewPassword" type="password" class="form-control form-control-lg" id="inputPassword3" placeholder="Yeni Şifre Tekrarı" required>
        <h4> @TempData["mail"]</h4>
        <button type="submit" class="btn btn-succes btn-lg" id="buton">Güncelle</button>

    </div>

</form>




