@using UnibelDestekSistemi.Models.DBHandler

@model UnibelDestekSistemi.Models.NewPassword
@{
    Layout = "_LayoutUser";
}

<br />
<form action="/NewPassword/{Link}" method="post" class="row p-5">
    <div id="profiles" class="form-group col-sm-6">
        <pre> <i class="fas fa-sliders-h">  </i>  Parolayı Değiştir</pre>
        <h2 for="inputpassword3" class="control-label">Yeni  Şifre</h2>
        <input name="newPassword" type="password" class="form-control form-control-lg" placeholder="Yeni şifre" required>
        <h2 for="inputPassword2" class=" control-label">Yeni Şifre Tekrarı</h2>
        <input name="confirmNewPassword" type="password" class="form-control" id="inputPassword2" placeholder="Yeni Şifre Tekrarı" required>
        <h4> @TempData["uyarı"]</h4>
        <input  type="hidden" value="@ViewBag.KullaniciAdi" name="kullaniciAdi"/>
        <button type="submit" class="btn btn-succes btn-lg" id="buton">Güncelle</button>

    </div>
</form>
