@using UnibelDestekSistemi.Models.DBHandler

@model UnibelDestekSistemi.Models.ForgotPassword

@{
    Layout = "_LayoutUser";
}


<form action="/CustomerForgotPassword"  method="POST" class="row p-5">

    <div id="sifremiunuttum" class="form-group col-sm-6">
        <h1>Şifremi Unuttum</h1>
        <h2 for="inputpassword3" class="control-label">E-posta</h2>
        <input name="Email" class="form-control form-control-lg" id="inputdefault" type="text" required>
        
        <h4> @TempData["mail"]</h4>
        <button type="submit" class="btn btn-succes btn-lg shadow-lg" id="buton2">Gönder</button>
    </div>


</form>

