@model List<UnibelDestekSistemi.Models.DBHandler.Bilet>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ListShow</title>

    @foreach (var item in Model)
    {

    }
</head>
<body>
</body>
</html>
