
@{

    Layout = "_Layout";

}

<partial name="~/Views/Shared/MenuBarPartials/HeaderPartial.cshtml" />

<div class="container-fluid">
    <div class="notification-body">
        <div id="notification-headline">
            <h2><b>Notification</b></h2>
        </div>
        <hr id="notificationHorizontal" />
        <div class="row">
            <div class="col-md-12">
                <div class="card" id="notification-block">
                    <div class="card-header" id="notification-title">
                        <h3>Notification Title</h3>
                    </div>
                    <div class="card-body" id="notification-news">
                        <p>News...</p>
                        <div class="button-modal">
                            <div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            But a isle present mine yet the one eros deem and that virtues atonement parting nor of he breast companie
                                        </div>
                                        <div class="modal-footer">
                                            <div class="modal-date" style="text-align:left !important;">
                                                28.07.2019
                                            </div>
                                            <button type="button" class="btn btn-secondary btn-lg" data-dismiss="modal">
                                                Close
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer" id="notification-date">
                        <p>26.07.2019</p>
                        <button type="button" class="btn btn-success btn-lg pull-right ml-auto" data-toggle="modal" data-target="#exampleModal1">
                            Read More...
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="card" id="notification-block">
                    <div class="card-header" id="notification-title">
                        <h3>Notification Title</h3>
                    </div>
                    <div class="card-body" id="notification-news">
                        <p>News...</p>
                        <div class="button-modal">

                            <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            Left muse the but dwelt if said his all with wight but mote of for are and hight woe he
                                        </div>
                                        <div class="modal-footer">
                                            <div class="modal-date" style="float:left !important;">
                                                <p>28.07.2019</p>
                                            </div>

                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                                Close
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer" id="notification-date">
                        <p>26.07.2019</p>
                        <button type="button" class="btn btn-success btn-lg pull-right" data-toggle="modal" data-target="#exampleModal2">
                            Read More...
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="card" id="notification-block">
                    <div class="card-header" id="notification-title">
                        <h3>Notification Title</h3>
                    </div>
                    <div class="card-body" id="notification-news">
                        <p>News...</p>
                        <div class="button-modal">

                            <div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                           Lied ach das vom ertönt menge vom was mein längst träne tage unbestimmten jenem besitze ich mit widerklang zu labyrinthisch
                                        </div>
                                        <div class="modal-footer">
                                            <div class="modal-date" style="float:left !important;">
                                                <p>28.07.2019</p>
                                            </div>

                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                                Close
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer" id="notification-date">
                        <p>26.07.2019</p>
                        <button type="button" class="btn btn-success btn-lg pull-right" data-toggle="modal" data-target="#exampleModal3">
                            Read More...
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="card" id="notification-block">
                    <div class="card-header" id="notification-title">
                        <h3>Notification Title</h3>
                    </div>
                    <div class="card-body" id="notification-news">
                        <p>News...</p>
                        <div class="button-modal">

                            <div class="modal fade" id="exampleModal4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                           Kion ni ke kiel longatempe li estus gruntojn estis da pensas mi iom li levis diris miaj sur iradis la
                                        </div>
                                        <div class="modal-footer">
                                            <div class="modal-date" style="float:left !important;">
                                                <p>28.07.2019</p>
                                            </div>

                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                                Close
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer" id="notification-date">
                        <p>26.07.2019</p>
                        <button type="button" class="btn btn-success btn-lg pull-right" data-toggle="modal" data-target="#exampleModal4">
                            Read More...
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
 </div>