
@{
    Layout = "_LayoutUser";
}

<div class="container">
    <div class="row">
        <div class="col-md-12" id="error-message">
            <h2 id="title"> Aradığınız Sayfa Bulunamadı</h2>
            <p id="error-content"> Arattığınız sayfayı yanlış ya da eksik arattınız. Tekrar deneyin</p>
            <a href="~/dashboard">Ana Menüye Dön</a>
        </div>
    </div>
</div>

