/*sifremi unuttum css*/
#buton6 {
    color: #000;
    height: 45px;
    margin-top: 15px;
    font-size: 11px;
    width: 140px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    border-radius: 45px;
    background-color: #4cff00;
    border: none;
    font-family: 'Roboto', sans-serif;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

    #buton6:hover {
        background-color: #2EE59D;
        box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
        color: #fff;
        transform: translateY(-7px);
    }
#sifre{
    margin-left:5px;
    height:30px;
}




#inputdefault{
    margin-bottom:20px;
}
#comment{
    font-size:20px;

}
#inputdefault{
    font-size:20px;
}
#captcha{
    font-size:20px;
}
