/*gonderilmis ögeler css*/
#baslıklar{
    font-size:13px;
}

#tablo{
    font-size:14px;
    margin-top:50px;
    margin-left:20px;
    margin-right:220px;
    margin-bottom:20px;
    
    
}



    






