@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

<partial name="~/Views/Shared/MenuBarPartials/HeaderPartial.cshtml" />

<div class="container-fluid" style="font-size:15px;margin:30px 30px 30px 30px;">
    <h2 style="text-align:center;">Kullanıcı Ekle</h2>
    <hr />
    <div class="card w-75 center-block">
        <div class="card-body">
            <form>
                <div class="form-group form-group-lg">
                    <label for="Kullanici-adi">Kullanıcı Adı</label>
                    <input type="email" class="form-control" id="Kullanici-adi" placeholder="Kullanıcı Adı Giriniz">
                </div>

                <div class="form-group form-group-lg">
                    <label for="Kullanici-Sifre">Kullanıcı Şifre</label>
                    <input type="email" class="form-control" id="Kullanici-sifre" placeholder="Başlık Giriniz">
                </div>

                <div class="form-group form-group-lg">
                    <label for="arıza-görev-alanı">Bölüm</label>
                    <select class="form-control" id="arıza-görev-alanı">
                        <option>Yazılım</option>
                        <option>Teknik</option>
                        <option>Grafik Web</option>
                    </select>
                </div>

                <div class="form-group form-group-lg">
                    <label for="Unvan">Ünvan</label>
                    <input type="text" class="form-control" id="Unvan" placeholder="Ünvan Giriniz">
                </div>
                <div class="form-group form-group-lg">
                    <label for="Email">Email</label>
                    <input type="email" class="form-control" id="Email" placeholder="Email Giriniz">
                </div>

                <div class="form-group form-group-lg">
                    <label for="Departman">Departman</label>
                    <input type="text" class="form-control" id="departman" placeholder="Departman Giriniz">
                </div>
            </form>
        </div>
        <div class="card-footer ">
       <div> <button class="btn btn-lg btn-primary btn-block" id="arıza-button" type="submit">Ekle</button></div>
        </div>
    </div>
</div>
