<i class="fas fa-bars fa-2x" onclick="openNav()"></i>

    <div id="mySidenav" class="sidenav" style="position:fixed; height:100%;">
        <div>
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a href="/customerprofile">Profil Ayarları</a>
            <a href="/customerchangepassword">Şifremi Unuttum</a>
            <a href="/alltickets">Tüm Talepler</a>
            <a href="/mytickets">Taleplerim</a>
            <a href="/CustomerSendingRequest">Gönderilen Talepler</a>
            <a href="/customercancelledrequest">İptal Edilen Talepler</a>
            <a href="/CustomerSolvedRequest">ÇözümlenenTalepler</a>

            <div class="row py-4 px-4" style="font-size:9px;color:#ffd800;position:relative;bottom:0px;width:250px;">

                <div class="col-md-12  align-content-center text-center" > 

                    <h4> <i class="fas fa-phone fa-lg"></i>444 40 35</h4>
                    <h4> <i class="fas fa-map-marker-alt fa-lg"></i>İzmir Büyükşehir Belediyesi, Cumhuriyet Bulvarı, No:1, Konak/İZMİR</h4>
                    <h4> <i class="fas fa-envelope-square fa-lg"></i> him@izmir.bel.tr </h4>
               
                </div>
            </div>
        </div>
    </div>

    <div class="btn-group" style="float:right;">
        <button type="button" class="btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            
        </button>

        <a class="profileLogoButton" z asp-action="Logout" asp-controller="Base" role="button"><i class="fas fa-2x fa-sign-out-alt mr-3"></i></a>
    </div>




